@charset "UTF-8";

.simplebar-scrollbar::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.simplebar-content-wrapper {
  overflow: hidden;
}

.custom-controls {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.control-arrow {
  cursor: pointer;
  margin: 5px;
}

.switcher {
  position: relative;
  display: inline-block;
  margin: 1px 10px;
  height: 1.125rem;
  width: 2.25rem;
  z-index: 1;
}

.switcher-off {
  left: 1px;
  width: 33%;
  height: 100%;
  cursor: pointer;
}

.switcher-neutral {
  left: 33%;
  width: 33%;
  height: 100%;
  cursor: pointer;
}

.switcher-neutral:first-child {
  left: 0;
}

.switcher-neutral:first-child + .switcher-radio-neutral:checked ~ .switcher-slider:after {
  left: 3px;
}

.switcher-on {
  cursor: pointer;
  right: 1px;
  width: 33%;
  height: 100%;
}

.switcher-label {
  position: absolute;
  text-indent: -9999px;
  z-index: 2;
}

.switcher input {
  visibility: hidden;
  position: absolute;
}

.switcher-slider {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear 0s;
  -o-transition: background-color 0.2s linear 0s;
  transition: background-color 0.2s linear 0s;
}

.switcher-slider:after {
  content: "";
  -webkit-transition: left 0.2s linear 0s, right 0.2s linear 0s;
  -o-transition: left 0.2s linear 0s, right 0.2s linear 0s;
  transition: left 0.2s linear 0s, right 0.2s linear 0s;
  background: #fff;
  position: absolute;
  top: 3px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  left: 33%;
}

.switcher-radio-on:checked ~ .switcher-slider {
  background-color: #bbed21;
}

.switcher-radio-neutral:checked ~ .switcher-slider {
  background: #f2f2f2;
}

.switcher-radio-off:checked ~ .switcher-slider {
  background-color: #ff0000;
}

.switcher-radio-on:checked ~ .switcher-slider:after {
  left: calc(66.6666666667% - 3px);
}

.switcher-radio-neutral:checked ~ .switcher-slider:after {
  left: 33.3333333333%;
}

.switcher-radio-off:checked ~ .switcher-slider:after {
  left: 3px;
}

.dropdown {
  position: relative;
  font-family: "Open Sans";
}

.dropdown__button {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #89939e;
  width: 100%;
  border-radius: 0.5rem;
  color: #1d1d1b;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -0.01313rem;
  gap: 1rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid #b7bec5;
  background: #fff;
  color: #b7bec5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  z-index: 1;
}

.dropdown__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.375rem 0.375rem 0;
  width: 2.375rem;
  height: 100%;
  background-color: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4' fill='none'%3E%3Cpath d='M4 4L0.535899 0.25L7.4641 0.25L4 4Z' fill='%23333333'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.5rem 0.25rem;
}

.dropdown__button:not(.active):hover {
  border: 1px solid #333;
}

.dropdown__button.selected {
  color: #333;
}

.dropdown__button.active {
  border: 1px solid #333;
}

.dropdown__button.active::before {
  border-radius: 0.375rem 0 0 0.375rem;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.dropdown__list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 4;
  background: #ffffff;
  border: 1px solid #e3e7ef;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.5rem;
  overflow: hidden;
}

.dropdown__list.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown__list-item {
  padding: 0.8rem 0.9375rem;
  font-size: 0.875rem;
  gap: 0.94rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.dropdown__list-item.active {
  background: #f2f2f2;
}

.dropdown__list-value {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.dropdown__list-size {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.4rem;
          flex: 0 0 2.4rem;
  text-align: right;
  white-space: nowrap;
}

.dropdown__list-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
  font-weight: 600;
}

.dropdown__list-price::after {
  content: "₽";
  font-weight: 400;
  color: #6f6f6f;
}

.input,
.textarea {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  width: 100%;
  padding: 0.6875rem 0.6875rem;
  border-radius: 0.3125rem;
  border: 1px solid #c6cdd3;
  background: #fff;
  color: #333;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

.input::-moz-placeholder, .textarea::-moz-placeholder {
  opacity: 0.4;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  opacity: 0.4;
}

.input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  opacity: 0.4;
}

.input::placeholder,
.textarea::placeholder {
  opacity: 0.4;
}

.input:focus,
.textarea:focus {
  border-color: #333;
}

.textarea {
  height: 5.875rem;
  resize: none;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
}

.btn.btn-primary {
  color: #333;
  background: #bbed21;
}

.btn.btn-primary:active {
  background: #aedd1e;
}

.btn.btn-blue {
  background: #3bc8f5;
  color: #fff;
}

.btn.btn-blue:active {
  background: #27b6f3;
}

.btn.btn-secondary {
  border-radius: 0.3125rem;
  border: 1px solid #c6cdd3;
  background: #fff;
}

.btn.btn-gray {
  background: #c6cdd3;
  color: #333;
}

.btn.btn-gray:active {
  background: #ffd643;
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  color: #fff;
  background: #ebebf0;
  border-color: #ebebf0;
  pointer-events: none;
}

.checkbox {
  display: block;
}

.checkbox__input:checked + .checkbox__text::before {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='9' viewBox='0 0 10 9' fill='none'%3E%3Cpath d='M1 1.5L5 6.5L9 1.5' stroke='%23BBED21' stroke-width='2'/%3E%3C/svg%3E");
}

.checkbox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.578125rem;
     -moz-column-gap: 0.578125rem;
          column-gap: 0.578125rem;
  color: #000;
  font-size: 0.875rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.2857142857;
}

.checkbox__text::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.3125rem;
  background-color: #f2f2f2;
  background-position: center;
  background-size: 1.125rem 0.875rem;
  background-repeat: no-repeat;
  border: 0.0625rem solid #c6cdd3;
}

.checkbox__link {
  -webkit-transition: color 0.1s ease 0s;
  -o-transition: color 0.1s ease 0s;
  transition: color 0.1s ease 0s;
}

.file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.file__preview {
  border-radius: 0.1875rem;
  border: 1px solid #c6cdd3;
  background-color: #f2f2f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M21.4626 17.45L19.4626 15.45V5.325H15.4126L13.5876 3.325H9.3376L8.3876 4.375L6.9626 2.95L7.8626 1.975C8.04593 1.775 8.26693 1.61667 8.5256 1.5C8.78426 1.38334 9.05493 1.325 9.3376 1.325H13.5876C13.8709 1.325 14.1419 1.38334 14.4006 1.5C14.6593 1.61667 14.8799 1.775 15.0626 1.975L16.3126 3.325H19.4626C20.0126 3.325 20.4836 3.521 20.8756 3.913C21.2676 4.305 21.4633 4.77567 21.4626 5.325V17.45ZM3.4626 19.325C2.9126 19.325 2.44193 19.1293 2.0506 18.738C1.65926 18.3467 1.46326 17.8757 1.4626 17.325V5.325C1.4626 4.775 1.6586 4.30434 2.0506 3.913C2.4426 3.52167 2.91326 3.32567 3.4626 3.325H4.4876L6.4876 5.325H3.4626V17.325H18.4876L20.4876 19.325H3.4626ZM15.1126 13.95C14.6959 14.5167 14.1753 14.971 13.5506 15.313C12.9259 15.655 12.2299 15.8257 11.4626 15.825C10.2126 15.825 9.15026 15.3877 8.2756 14.513C7.40093 13.6383 6.96326 12.5757 6.9626 11.325C6.9626 10.5583 7.1336 9.86267 7.4756 9.238C7.8176 8.61334 8.2716 8.09234 8.8376 7.675L10.2876 9.125C9.8876 9.34167 9.56693 9.64167 9.3256 10.025C9.08426 10.4083 8.96326 10.8417 8.9626 11.325C8.9626 12.025 9.20426 12.6167 9.6876 13.1C10.1709 13.5833 10.7626 13.825 11.4626 13.825C11.9459 13.825 12.3793 13.704 12.7626 13.462C13.1459 13.22 13.4459 12.8993 13.6626 12.5L15.1126 13.95ZM14.6626 8.125C15.0793 8.525 15.4003 9 15.6256 9.55C15.8509 10.1 15.9633 10.6917 15.9626 11.325V11.625C15.9626 11.725 15.9543 11.825 15.9376 11.925L10.8626 6.85C10.9626 6.83334 11.0626 6.825 11.1626 6.825H11.4626C12.0959 6.825 12.6876 6.93767 13.2376 7.163C13.7876 7.38834 14.2626 7.709 14.6626 8.125ZM19.2376 20.9L0.837598 2.525C0.637598 2.325 0.537598 2.08734 0.537598 1.812C0.537598 1.53667 0.637598 1.29934 0.837598 1.1C1.0376 0.900003 1.27526 0.800003 1.5506 0.800003C1.82593 0.800003 2.06326 0.900003 2.2626 1.1L20.6626 19.5C20.8626 19.7 20.9626 19.9333 20.9626 20.2C20.9626 20.4667 20.8626 20.7 20.6626 20.9C20.4626 21.1 20.2253 21.2 19.9506 21.2C19.6759 21.2 19.4383 21.1 19.2376 20.9Z' fill='%23C6CDD3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3rem auto;
  margin-right: 0.88rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.375rem;
}

.file__preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.file__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 0.3125rem 0 0 0.3125rem;
  border: 1px solid #c6cdd3;
  background: #fff;
  color: #333;
  padding: 0.78rem 1.25rem;
}

.file__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.0625rem 0.9375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  width: 3rem;
  border: 1px solid #c6cdd3;
  border-radius: 0 0.3125rem 0.3125rem 0;
  border-left: 0;
  cursor: pointer;
}

.file__delete {
  margin-left: 0.63rem;
}

html {
  font-size: 16px;
}

body {
  background: #f2f2f2;
  font-family: "Segoe UI", sans-serif;
  line-height: normal;
}

.sidebar {
  background: #fff;
  max-width: 27.8125rem;
  padding: 1.25rem 0.9375rem 1.25rem 1.25rem;
  overflow: hidden;
}

.sidebar__content {
  height: calc(100vh - 2.5rem);
  overflow-y: auto;
  padding-right: 1.25rem;
}

.sidebar__caption {
  position: relative;
}

.sidebar__caption-btn {
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  background: #1e87f0;
  width: 100%;
  color: #fff;
  padding: 0.94rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.62rem;
  font-size: 1rem;
}

.sidebar__caption-btn.active::after {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.sidebar__caption-btn::after {
  content: "";
  width: 13px;
  height: 7px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='7' viewBox='0 0 13 7' fill='none'%3E%3Cpath d='M6.5 6.5L0.870837 0.499998L12.1292 0.499999L6.5 6.5Z' fill='white'/%3E%3C/svg%3E");
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.sidebar__caption-list {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0rem 0rem 0.3125rem 0.3125rem;
  border: 1px solid #ababab;
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 0.94rem;
  display: none;
}

.sidebar__caption-item {
  color: #000;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}

.sidebar__caption-item:not(:last-child) {
  margin-bottom: 0.94rem;
}

.sidebar__list {
  margin-top: 0.06rem;
}

.sidebar__item {
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ababab;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 0.1rem;
}

.sidebar__item.active {
  background: #e0f0ff;
}

.sidebar__item-button {
  text-align: left;
  padding: 0.81rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sidebar__item-main {
  color: #292929;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar__item-time {
  border-radius: 0.3125rem;
  padding: 0.1875rem 0.4375rem;
  font-size: 0.75rem;
  color: #fff;
  background: #1e87f0;
}

.sidebar__item-time.red {
  background: #f20000;
}

.sidebar__item-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sidebar__item-desc {
  margin-top: 0.12rem;
  font-size: 0.875rem;
  color: #646464;
}

.sidebar__orders {
  display: none;
  padding: 0.62rem;
}

.sidebar__order {
  border-radius: 0.3125rem;
  border: 0.5px solid #292929;
  background: #f2f2f2;
  color: #646464;
  padding: 0.62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.63rem;
}

.sidebar__order:not(:last-child) {
  margin-bottom: 0.31rem;
}

.sidebar__order-icon {
  width: 0.875rem;
  height: 0.875rem;
}

.sidebar__order-body {
  font-size: 0.875rem;
}

.sidebar__order-name {
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.sidebar__order-desc {
  color: #646464;
}

.prom-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prom-calendar.full .sidebar {
  padding: 0;
}

.prom-calendar__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 1.06rem 0.94rem 1.5rem;
}

.gutter {
  position: relative;
  background-color: transparent;
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
  background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-horizontal::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 3.35625rem;
  border-radius: 0.1875rem;
  border-radius: 0.3125rem;
  border: 1px solid #d9d9d9;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.gutter.gutter-horizontal.gutter-open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (any-hover: hover) {
  .dropdown__list-item:hover {
    background: #f2f2f2;
  }

  .input:hover,
  .textarea:hover {
    border-color: #333;
  }

  .btn.btn-primary:hover {
    background: #c1ff00;
  }

  .btn.btn-blue:hover {
    background: #38dbff;
  }

  .btn.btn-secondary:hover {
    background: #c6cdd3;
  }

  .btn.btn-gray:hover {
    background: #f2f2f2;
  }

  .checkbox__link:hover {
    text-decoration: underline;
    color: #3bc8f5;
  }

  .sidebar__caption-item:hover {
    color: #1e87f0;
  }

  .sidebar__order:hover {
    background: #fff;
    color: #000;
  }
}