// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
// @import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
// @import "icons";

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Segoe UI";

// Шрифт по умолчанию

$md0: 1599.98px;
$md1: 1439.98px;
$md2: 1199.98px;
$md3: 1023.98px;
$md4: 767.98px;
$md45: 639.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1140); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #333;
$accent: #ff7f50;
$hover: #ff6329;
$gray: #ebebf0;
$yellow: #f8d626;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// .container {
// 	max-width: 1200px;
// 	margin: 0 auto;
// }

@import "ui";
@import "forms";

//==================
html {
	font-size: 16px;
}
body {
	background: #f2f2f2;
	font-family: $fontfamily, sans-serif;
	line-height: normal;
}

.sidebar {
	background: #fff;
	max-width: rem(445);
	padding: rem(20) rem(15) rem(20) rem(20);
	overflow: hidden;
	&__content {
		height: calc(100vh - rem(40));
		overflow-y: auto;
		padding-right: rem(20);
	}
	// .sidebar__caption
	&__caption {
		position: relative;
	}

	// .sidebar__caption-btn
	&__caption-btn {
		border-radius: 0.625rem 0.625rem 0rem 0rem;
		background: #1e87f0;
		width: 100%;
		color: #fff;
		padding: 0.94rem;
		text-align: left;
		display: flex;
		align-items: center;
		gap: 0.62rem;
		font-size: 1rem;
		&.active {
			&::after {
				transform: none;
			}
		}
		&::after {
			content: "";
			width: 13px;
			height: 7px;
			flex-shrink: 0;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(-90deg);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='7' viewBox='0 0 13 7' fill='none'%3E%3Cpath d='M6.5 6.5L0.870837 0.499998L12.1292 0.499999L6.5 6.5Z' fill='white'/%3E%3C/svg%3E");
			transition: transform 0.3s ease 0s;
		}
	}
	// .sidebar__caption-list
	&__caption-list {
		position: absolute;
		top: 100%;
		left: 0;
		border-radius: 0rem 0rem 0.3125rem 0.3125rem;
		border: 1px solid #ababab;
		border-top: 0;
		background: #fff;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
		padding: 0.94rem;
		display: none;
	}
	// .sidebar__caption-item
	&__caption-item {
		color: #000;
		font-size: 1rem;
		transition: color 0.3s ease 0s;
		cursor: pointer;
		&:not(:last-child) {
			margin-bottom: 0.94rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #1e87f0;
			}
		}
	}

	// .sidebar__list
	&__list {
		margin-top: 0.06rem;
	}
	// .sidebar__item
	&__item {
		border-radius: 0.3125rem;
		border: rem(1) solid #ababab;

		&:not(:last-child) {
			margin-bottom: 0.1rem;
		}
		&.active {
			background: #e0f0ff;
		}
	}
	// .sidebar__item-button
	&__item-button {
		text-align: left;
		padding: 0.81rem;
		display: flex;
		width: 100%;
	}
	// .sidebar__item-header
	&__item-header {
	}
	// .sidebar__item-main
	&__item-main {
		color: #292929;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1.25rem;
		flex-wrap: wrap;
	}
	// .sidebar__item-order
	&__item-order {
	}
	// .sidebar__item-time
	&__item-time {
		border-radius: 0.3125rem;
		padding: 0.1875rem 0.4375rem;

		font-size: 0.75rem;
		color: #fff;
		background: #1e87f0;
		&.red {
			background: #f20000;
		}
	}
	// .sidebar__item-icon
	&__item-icon {
		flex-shrink: 0;
	}
	// .sidebar__item-desc
	&__item-desc {
		margin-top: 0.12rem;
		font-size: 0.875rem;
		color: #646464;
	}
	// .sidebar__orders
	&__orders {
		display: none;
		padding: 0.62rem;
	}
	// .sidebar__order
	&__order {
		border-radius: 0.3125rem;
		border: 0.5px solid #292929;

		background: #f2f2f2;
		color: #646464;
		padding: 0.62rem;
		display: flex;
		gap: 0.63rem;
		&:not(:last-child) {
			margin-bottom: 0.31rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: #000;
			}
		}
	}
	// .sidebar__order-icon
	&__order-icon {
		width: 0.875rem;
		height: 0.875rem;
	}
	// .sidebar__order-body
	&__order-body {
		font-size: 0.875rem;
	}
	// .sidebar__order-name
	&__order-name {
		color: #292929;
		display: flex;
		gap: 0.5rem;
	}
	// .sidebar__order-number
	&__order-number {
	}
	// .sidebar__order-desc
	&__order-desc {
		color: #646464;
	}
}

.prom-calendar {
	display: flex;

	&.full {
		.sidebar {
			padding: 0;
		}
	}
	// .prom-calendar__content
	&__content {
		flex: 1 1 auto;
		padding: 0 1.06rem 0.94rem 1.5rem;
	}
}

.gutter {
	position: relative;
	background-color: transparent;
	transform: translateX(-10px);
	// background: linear-gradient(90deg, #eef2f4 calc(50% - 0.5px), #c6cdd3 calc(50% - 0.5px), #c6cdd3 calc(50% + 0.5px), #eef2f4 calc(50% + 0.5px));
	background-repeat: no-repeat;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		height: 3.35625rem;
		border-radius: 0.1875rem;
		border-radius: 0.3125rem;
		border: 1px solid #d9d9d9;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	&.gutter-open {
		transform: rotate(180deg);
	}
}

// .counter {
// 	display: flex;
// 	gap: 0.31rem;
// 	border-radius: 0.3125rem;
// 	border: rem(1) solid #b7bec5;
// 	background: #fff;
// 	.input {
// 		width: 2.75rem;
// 		border: 0;
// 		font-size: 0.75rem;
// 		text-align: center;
// 	}
// 	// .counter__btns
// 	&__btns {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: space-between;
// 		border-left: rem(1) solid #b7bec5;
// 	}
// 	// .counter__increment
// 	&__increment {
// 		position: relative;
// 		padding: 0.45rem 1rem;
// 		flex: 1 1 auto;
// 		& svg {
// 			position: absolute;
// 			top: 75%;
// 			left: 50%;
// 			transform: translate(-50%, -50%);
// 		}
// 	}
// 	// .counter__decrement
// 	&__decrement {
// 		@extend .counter__increment;
// 		& svg {
// 			top: 25%;
// 		}
// 	}
// }

// @import "modules/popup";
